@import "tailwindcss";
body{
  overflow-y: hidden;
   background: linear-gradient(
  to bottom,
  rgb(5, 5, 10) 0%,
  rgb(10, 9, 14) 8.333%,
  rgb(14, 13, 18) 16.667%,
  rgb(19, 18, 22) 25%,
  rgb(23, 22, 26) 33.333%,
  rgb(27, 26, 30) 41.667%,
  rgb(31, 30, 34) 50%,
  rgb(35, 34, 38) 58.333%,
  rgb(39, 38, 42) 66.667%,
  rgb(42, 41, 45) 75%,
  rgb(45, 44, 48) 83.333%,
  rgb(47, 46, 51) 91.667%,
  rgb(49, 48, 53) 100%
);

}

.light{
  background: linear-gradient(to bottom, #67b3ff 0%, rgb(141, 211, 255) 25%, rgb(161, 216, 255) 50%, rgb(193, 210, 255) 75%, rgb(224, 195, 255) 100%);
  
}
.navlight{
  background-color: rgb(70, 159, 248);
}
.containerLight{
  background-color: rgba(47, 147, 246, 0.473);
}

.btnlight{
  background-color: rgba(60, 157, 254, 0.974);
  border: 1.5px solid white ;
  
}

.todolist::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  
}
.todolist::-webkit-scrollbar-track {
  background: #f0f0f00f;
  border-radius: 10px;
}
.todolist::-webkit-scrollbar-thumb {
  background: white          ;
  border-radius: 10px;
  height: 5px;
  width: 10px;
}